// Home style
@import '../../constants.scss';

.Uploads{
  background-color: $grey;
  .Title{
    font-size: 80px;
    width: 100%;
    text-align: center;
  }
  .Subtitle{
    font-size: 40px;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
  }
}