@import '../../constants.scss';

.UploadsContainer{

  .titles {
    text-align: center;
    text-justify: inter-word;
    padding-bottom: 5%;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  .PublishForm {
    padding-bottom: 10%;

  }
  .SubmitBtn{
    background-color: $purple;
  }
  .SubmitBtn:hover{
    background-color: $purple;
  }
}


// .DevForm{margin-top: 50px;
//   .SubmitBtn{
//     width: 100%;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//   }
// }
// .ticketTable{
//   width: 100%;
//   margin-bottom: 20px;
//   // border: 1px solid;
//   td {
//     width:10%;
//   }
// }
