// Uploadseloper2 style
.UploadsContainer{

  .titles {
    text-align: center;
    text-justify: inter-word;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }
}


// .DevForm{margin-top: 50px;
//   .SubmitBtn{
//     width: 100%;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//   }
// }
// .ticketTable{
//   width: 100%;
//   margin-bottom: 20px;
//   // border: 1px solid;
//   td {
//     width:10%;
//   }
// }
