@import '../../constants.scss';

// Admineloper2 style
.AdminContainer{
 .Admin-form{
    .SubmitBtn{
      background-color: $purple;
      margin-top: 2rem;
    }
    .SubmitBtn:hover{
      background-color: $purple;
    }
 }
 .submissionTable{
    width: 100%;
    margin-bottom: 20px;
    // border: 1px solid;
    td {
      width:10%;
    }
 }
}

