// Developer2 style
.DevContainer{
  .DevForm{margin-top: 50px;
    .SubmitBtn{
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  .ticketTable{
    width: 100%;
    margin-bottom: 20px;
    // border: 1px solid;
  }
}